*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1, h2, p {

    font-family: "DynaPuff", system-ui;
}


.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
}

button {
    transition: all 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
}