@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Manrope", sans-serif;
    margin: 30px;
    background-color: #e3e3e3;
    text-align: center;
}

form {
    padding: 20px;
}


/* separate form in sections */
.container {
    display: flex;
    gap: 60px;
    margin-bottom: 20px;
}

.section {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 8px;
}


/* display options side by side */
.options-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px 0 20px;
}

.options-row label {
    display: flex;
    align-items: center;
    gap: 5px;
}

input, select, textarea, button {
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 6px;
}

textarea{
    resize: none;
}


button {
    padding: 10px 20px;
    cursor: pointer;
    float: inline-end;
    background-color: black;
    color: #e3e3e3;
}

button:hover{
    color: black;
    background-color: #e3e3e3;
}