* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background: #f4f4f8;
    color: #222;
}


/* TOP */

.top {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(
        135deg,
        #7800f8,
        #223556
    );
    color: white;
}


.top h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}


.top p {
    margin-bottom: 25px;
}


/* Form */

#search {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
}

#artistName {
    width: 300px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}



button {
    padding: 14px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}


/* Footer */
footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.infos {
    display: flex;           
    gap: 1rem;               
}

.infos p {
    margin: 0;
}


/* Artist card */
.artistCard {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.artistCard img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.artistCard h2 {
    margin: 0;
    color: #333;
    font-size: 1.8rem;
    text-align: center;
}

/* Track cards */
.trackCard {
    max-width: 500px;
    margin: 15px auto;
    padding: 15px;
    background: #f8f8f8;
    border-left: 5px solid #251b73;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.trackCard h3 {
    margin: 0 0 8px;
    color: #222;
    font-size: 1.2rem;
    text-align: center;
}

.trackCard p {
    margin: 0;
    color: #5f5e5e;
    font-size: 0.95rem;
}

h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/*Progress bar*/
.bar {
    background:#ddd;
    height:10px;
    border-radius:10px;
}

.progress {
    background:#b61ee9;
    height:100%;
    border-radius:10px;
}