* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background: #f4f4f8;
    color: #222;
}


/* TOP */

.top {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(
        135deg,
        #6a11cb,
        #2575fc
    );
    color: white;
}


.top h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}


.top p {
    margin-bottom: 25px;
}


/* Form */

#search {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
}

#artistName {
    width: 300px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}


button {
    padding: 14px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}


/* Footer */
footer{
    margin-top: 2rem;
     display: flex;
    justify-content: center;
}


